@import '_global';
@import '_vars';


// start header
.header{
    .container{
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        position: relative;
    }
}
.header__menu-btn{
    display: none;
    width: 36px;
    height: 30px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 22px;
    span{
        background-color: #444;
        width: 24px;
        height: 2px;
        position: relative;
        display: block;
        border-radius: 3px;
        display: flex;
        justify-content: flex-end;
        
        &::before,
        &::after{
            transition: all .3s;
            content:'';
            position: absolute;
            width: 32px;
            height: 2px;
            background-color: #444;
            transform: translateY(12px);
            border-radius: 3px;
            right: 4px;
        }
        &::after{
            transform: translateY(-12px);
        }
    }
}
.header__menu-btn.active
    span
        height: 0
        &::before
            transform: rotate(45deg)
        
        &::after
            transform: rotate(-45deg)
.header__menu.active{
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    z-index: 10;
}
.header__menu{
    font-size: 16px;
    li+li{
        margin-left: 43px;
    }
    li{
        position: relative;
        cursor: pointer;
    }
    
}
.drop-down::before{
        content: "";
        background-image: url(../images/icons/menu-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 10px;
        height: 6px;
        position: absolute;
        right: -14px;
        bottom: 5px;
        
}
.drop-down.active::before{
    transform: rotate(-180deg);
}
.drop__down-list-wrapper{
    position: absolute;
    top: 25px;
    left: -30px;
    overflow: hidden;
    max-height: 0;
    transition: .3s;
    z-index: 5;
}
.drop__down-list-wrapper.active{
    max-height: 350px;
}
.drop__down-list{
    box-sizing: border-box;
    width: 198px;
    box-shadow: 0px 0px 21px rgba(19, 23, 85, 0.06);
    border-radius: 5px;
    background-color: #fff;  
    transition: all .3s;
    position: relative;
    padding: 25px 30px;
    margin-top: 15px;
    li{
        display: block;
        text-align: left;
    }
    li a:hover{
        color: black;
    }
    li+li{
        margin-left: 0;
        margin-top: 30px;
    }
}
.drop__down-list::before{
    content: '';
    position: absolute;
    top: -13px;
    left: 31px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent #ffffff transparent;
}
.drop__down a{
    position: relative;
}

// end header

//start top
.top{
    padding-top: 55px;
    background: linear-gradient(270deg, #F0F4F5 0%, #F6F7FA 99.26%), #F0F4F5;
    .container{
        display: flex;
        justify-content: space-between;
    }
}
.calculator__item{
    input{
        background: #FFFFFF;
        border-radius: 5px;
        height: 55px;
        box-sizing: border-box;
        max-width: 448px;
        width: 100%;
        border: none;
        padding-left: 25px;
        font-size: 18px;
        color: #131755;
    }
}
.top-foto{
    margin-left: -99px;
    width: 755px;
    max-height: 578.41px;
}

.calculator{
    max-width: 448px;
    width: 100%;
    padding-right: 5px;
    z-index: 2;
    .title{
        margin-bottom: 30px;
    }
}
.calculator__item-title{
    font-size: 13px;
    color: #586069;
    margin-bottom: 10px;
    margin-top: 10px;
}
.irs--flat .irs-bar{
    bottom: 0;
    top:auto;
}
.irs-bar.irs-bar--single{
    background: #2A8BFB;
    border-radius: 0px 5px 5px 5px;
    height: 5px;
}

.irs-line, 
.irs--flat .irs-max,
.irs--flat .irs-min,
.irs-from,
.irs-single{
    display: none;
}

.irs--flat {
    height: 0;
    background-color: #fff;
    border-radius: 5px;
}
.irs--flat .irs-single{
    position: unset;
    background-color: transparent;
    font-size: 18px;
    color:#131755;
    padding-top: 16px;
    padding-left: 25px;
    &::before{
        display: none;
    }
}

.irs--flat .irs-handle>i:first-child{
    background: #2A8BFB;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    opacity: 1;
    top: -11px;
    left: 7px;
    
}
.irs--flat .irs-handle:hover>i:first-child{
    background-color: #2A8BFB;
}
.irs--flat .irs-handle.state_hover>i:first-child{
    background-color: #2A8BFB;
    opacity: 1;
    top: 6px;
    left: 7px;
}
.irs--flat .irs-handle{
    top: auto;
    bottom: -14px;
}
.irs--flat .irs-handle.state_hover{
    background-color: rgba(37, 140, 251, 0.3);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
}
.calculator__item+.calculator__item{
    margin-top: 30px;
}
.calculator__item:nth-child(3){
    
    .irs-single{
        padding-left: 55px;
    }
}

.calculator__item-checkbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    label{
        width: 50%;
        margin-top: 8px;
        display: flex;
    }
    
}
.jq-radio,
.jq-checkbox{
    border-radius: 3px;
    background: #D9E0E2;
    border: none;
    min-width: 15px;
    height: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0), inset -1px -1px transparent, inset 0 0 transparent;
    margin-right: 7px;
}
.jq-radio.checked .jq-radio__div,
.jq-checkbox.checked .jq-checkbox__div{
    width: 15px;
    height: 15px;
    margin: 3px 0 0 3px;
    background-color: #2A8BFB;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0);
    border-radius: 0%;
    margin: 0;
    position: relative;
    &::before{
        content:"";
        position: absolute;
        background-image: url(../images/icons/check.svg);
        top: 4px;
        left: 3px;
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
}
.jq-checkbox.checked .jq-checkbox__div {
    border-bottom: 0px solid #666;
    border-left: 0px solid #666;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.jq-checkbox.focused, .jq-radio.focused{
    border:none;
}
.calculator__item-summ{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 12px 46px 14px 36px;
    margin-top: 15px;
}
.calculator__item-summ-price{
    font-size: 16px;
}

.link{
    transition: .3s;
    display: inline-block;
    padding: 18px 70px;
    background-color:#DF5B31;
    color:#fff;
    font-weight: 700;
    border-radius: 119px;
    margin-top: 25px;
}
.open-popup{
    &:hover{
        background-color: #E16B58;
    }
}
//end top

//start advantages
.advantages{
    padding-top: 46px;
    padding-bottom: 34px;
    border-bottom: 1px solid #F0F4F5;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .title{
        margin-bottom: 39px;
        display: block;
        width: 100%;
    }
    .advantages__item{
        width: 33.33%;
        display: flex;
        align-items: flex-start;
        .advantages__item-title{
            font-size: 18px;
            color: #131755;
        }
    }
    img{
        margin-right: 21px;
    }
    .advantages__item-subtitle{
        margin-top: 10px;
        max-width: 229px;
        line-height: 130%;
        font-size: 15px;
        color: #586069;
        span{
            color: #2A8BFB;
        }
    }
}
//end advantages

//start popular-loans

.loan-card__acide-wrapper.fixed{
    position: sticky;
    top: 0;
    right: 0;
}

.popular-loans__inner{
    position: relative;
    margin-top: 28px;
    &::before{
        position: absolute;
        content:'';
        left: 0;
        top: 0;
        background-image: url(../images/content/loans-before.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 127px;
        height: 50px;
    }
}
.popular-loans{
    padding-top: 80px;
    padding-bottom: 80px;
    .container{
        position: relative;
    }
    .block-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.sorting,
.description__block,{
    display: flex;
}
.sorting{
    align-items: center;
    p{
        margin-right: 15px;
    }
}

.selectize-input {
    border: 1px solid #F0F2F3;
    padding: 11px 30px 11px 18px;
    width: 205px;
    overflow: unset;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: none;
    height: 40px;
    border-radius: 5px;
}
.selectize-control.single .selectize-input:after {
    background-image: url(../images/icons/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    width: 10px;
    height: 8px;
    border-style: solid;
    border-width: 0px 0px 0;
    border-color: transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 0px 0px;
    border-color: transparent transparent transparent;
    transform: rotate(-180deg);
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.selectize-input.dropdown-active {
    border-radius:  0;
}
.selectize-input.focus {
    box-shadow: inset 0 0px 0px rgba(0,0,0,.15);
}
.selectize-dropdown {
    border: 0px solid #d0d0d0;
    background: #FFFFFF;
    margin: -1px 0 0;
    box-shadow: none;
}
.selectize-dropdown, 
.selectize-input, 
.selectize-input input {
    color: #131755;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 130%;
    -webkit-font-smoothing: inherit;
}
.selectize-dropdown .active {
    background-color: transparent;
    color: #7CB9FC;
}
.selectize-dropdown{
    top:30px;
}
.selectize-dropdown-content{
    position: relative;
    margin-top: 13px;
    box-shadow: 0px 0px 21px rgba(19, 23, 85, 0.06);
    padding: 25px 43px 25px 19px;
    background-color: #fff;
    border-radius: 5px;
    overflow: unset;
    overflow-x: unset;
}
.selectize-dropdown-content::before{
    content:"";
    top: -12px;
    left: 44px;
    position: absolute;
    border-style: solid;
    border-width: 0 6.5px 12px 6.5px;
    border-color: transparent transparent #ffffff transparent;
}
.selectize-dropdown .optgroup-header, 
.selectize-dropdown .option {
    padding: 0;
    margin-bottom: 25px;
}
.selectize-dropdown .option:last-child{
    margin-bottom: 0;
}
.item__comment{
    a{
        font-size: 13px;
        color:#7CB9FC;
        padding-bottom: 3px;
        transition: .2s;
        border-bottom: 1px solid transparent; 
    }
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    position: relative;
    &:hover a{
        border-bottom: 1px solid #7CB9FC;
    }
    &::before{
        content:'';
        background-image: url(../images/icons/item-comment.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        width: 16px;
        height: 14px;
        left: 0;
    }
}
.popular-loans__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 37px 50px;
    background-color: #FAFBFC;
    margin-left: 10px;
    border-radius: 5px;
    &+.popular-loans__item{
        margin-top: 15px;
    }
}
.popular-loans-btn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    .link{
        font-weight: 400;
        margin: 0 auto;
        background-color: #7CB9FC;
        padding: 8px 45px;
    }
}
.item__logo{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}
.description__block{
    max-width: 543px;
    flex-wrap: wrap;
    margin-bottom: -25px;
}
.item__description-name{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #7CB9FC;
    border-bottom: 1px solid #7CB9FC;
    padding-bottom: 2px;
    transition: .3s;
    &:hover{
        border-bottom: 1px solid transparent;
    }
}
.description__block-wrapper{
    width: 24%;
    margin-bottom: 25px;
}
.description__block-wrapper.block-wrapper-1{
    width: 45%;
}
.block-wrapper-img{
    width: 144px;
}
.description__block-title,
.rate-star-title{
    display: block;
    font-size: 14px;
    color: #B1C5CA;
    margin-bottom: 5px;
}
.description__block-options{
    font-size: 16px;
}
.item__btn-rate{
    text-align: center;
}
.item__btn-rate-link.link{
    padding: 16px 53px;
    font-size: 14px;
    margin-bottom: 18px;
    &:hover{
        background: #E16B58;
    }
}
.rate-star{
    margin: 5px auto 0px;
    background-image: url(../images/icons/range-star-bg.svg);
    width: 101px;
    height: 16px;
}
.rate-star div{
    background-image: url(../images/icons/range-star-ellow.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 16px;
}
.popular-loans-btn.link{
    display:block;
    background-color:#7CB9FC;
    font-size: 13px;
    padding: 8px 48px;
    max-width: 165px;
    box-sizing: border-box;
}

.popular-loans .container,
.reviews .container,
.questions .container,
.latest-reviews__contetnt-items{
    overflow-x: hidden;
    padding-bottom: 80px;
    margin-bottom: 15px;
    position: relative;
    &::after,
    &::before{
        content:'';
        height: 1px;
        width: 2000px;
        background-color: #F0F4F5;
        position: absolute;
        bottom: 15px;
    }
    &::after{
        right: 61%;
    }
    &::before{
        left: 61%;
    }
}
.popular-loans{
    overflow: hidden;
    padding-bottom: 40px;
    .container{
        padding-bottom: 0;
    }
}
//end popular-loans

//start form-block
.form-block{
    .form-block__wrapper{
        background: linear-gradient(90deg, #FAFBFC 0%, #F6F7FA 100%);
        padding-top: 40px;
    }
    padding-top: 20px;
    overflow: hidden;
    .container{
        display: flex;
        justify-content: space-between;
        &::before,
        &::after{
            display: none;
        }
        img{
            margin-top: -65px;
            margin-right: -120px;
        }
    }
    .form__title{
        margin-bottom: 28px;
        max-width:288px;
        line-height: 130%;
    }
    form{
        max-width: 544px;
        width: 100%;
        overflow: hidden;
        
        label{
            width: 100%;
            font-size: 11px;
            display: inline-block;
            margin-bottom: 15px;
            color: #586069;
        }
        input,
        textarea{
            width: 100%;
            height: 55px;
            background-color: #FFFFFF;
            border-radius: 5px;
            border: none;
            padding-right: 38px;
            padding-left: 15px;
            box-sizing: border-box;
            margin-bottom: 5px;
            color: #586069;
            font-size: 14px;
            resize: none;
            &::placeholder{
                color: #B1C5CA;
                
            }
        }
        input:focus {
            outline-offset: 0;
            border: none;
            outline: -webkit-focus-ring-color auto 0px;
        }
        .input-wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            label{
                width: 256px;
            }
            label+label{
                margin-left: 32px;
            }
        }
        
        .personal-data__wrapper{
            display: flex;
        }
     .personal-data{
         max-width: 100%;
         font-size: 13px;
         line-height: 130%;
         margin-bottom: 0;
         color: #586069;
         a{
            text-decoration-line: underline;
            color: #7CB9FC;
         }
     }
    }
    .personal-data-point{
        // margin-bottom: 34px;
    }
    input[type=name]{
        background-image: url(../images/icons/name-icon.svg);
        background-repeat: no-repeat;
        background-position: center right 15px;
    }
    input[type=tel]{
        background-image: url(../images/icons/phone-icon.svg);
        background-repeat: no-repeat;
        background-position: center right 15px;
    }
    input[type=email]{
        background-image: url(../images/icons/email-icon.svg);
        background-repeat: no-repeat;
        background-position: center right 15px;
    }
}
.input-file input{
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
//end form-block

//start reviews
.page-reviews
.item__btn{
    .rate-star{
        margin-left: auto;
        margin-right: auto;
    }
}
.latest-reviews__contetnt-items{
        padding-bottom: 0;
    }
    .reviews{
    padding-top: 85px;
    padding-bottom: 80px;
    
    .container{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
.reviews__btn,
.questions__btn-bottom{
    text-align: center;
    .link{
        background-color: #7CB9FC;
        padding: 8px 45px;
        font-size: 13px;
        display: inline-block;
    }
}
.reviews__inner{
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reviews__item{
    max-width: 23%;
    font-size: 14px;
    .rate-star{
        margin-top: 0;
        margin-left: 0;
    }
    .block-name{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 16px;
        height: 16px;
        margin-bottom: 10px;
    }
    .block-name-name{
    font-weight: bold;
    margin-right: 15px;
    }
    .block-name-date{
        color: #B1C5CA;
        font-size: 12px;
        
    }
}
.reviews__item-content{
    box-shadow: 0px 8px 25px rgba(221, 231, 234, 0.5);
    border-radius: 5px;
    padding: 25px 28px;
    box-sizing: border-box;
    line-height: 140%;
    color: #586069;
    img{
        margin-bottom: 10px;
    }
    
}
.item-link{
    margin-top: 11px;
    color: #2A8BFB;
    font-size: 13px;
    padding: 8px 18px;
    background: #FAFBFC;
    border-radius: 60px;
}
//end reviews

//start conditions
.conditions{
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(90deg, #FAFBFC 0%, #F6F7FA 100%), #FAFBFC;
}
.conditions__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.conditions__item{
    width: 15%;
    ul{
        color: #131755;
        li{
            display: block;
        }
        li+li{
            margin-top: 20px;
        }
        li:last-child{
            background-image: url(../images/icons/ellipsis.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 19px;
            height: 5px;
            cursor: pointer;
        }
    }
    &:hover{
        .conditions__item-line div{
            width: 100%;
        }
    }
}
.conditions-title {
    margin-bottom: 34px;
    margin-left: 34px;
}
.conditions__item-title{
    font-size: 14px;
    margin-bottom: 18px;
    color: #586069;
}
.conditions__item-line{
    height: 1px;
    background-color:#F0F4F5;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    transition: .5s;
    &:hover{
        div{
            width: 100%;
        }
    }
    div{
        transition: .5s;
        height: 3px;
        background-color: #7CB9FC;
        width: 18%;
    }
}
//end conditions


//start questions
.questions{
    padding-top: 80px;
}
.questions__title{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.questions__btn{
    padding: 9px 18px;
    display: inline-block;
    margin-top: 0;
    &:hover{
        background: #E16B58;
    }
}
.questions__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 38px;
    padding-bottom: 25px;
}
.questions__item{
    max-width: 25%;
    padding: 25px 12px 25px 65px;
    line-height: 130%;
    position: relative;
    background-color: #FAFBFC;
    transition: .3s;
    &::before{
        content:'';
        position: absolute;
        width: 25px;
        height: 21px;
        left: 25px;
        top: 25px;
        background-image: url(../images/icons/comments.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    
}
.questions__item:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 8px 25px rgba(221, 231, 234, 0.5);
    .questions__item-link{
       background-color:#FAFBFC;
    }
}
.questions__item-title{
    font-size: 16px;
    color: #131755;
    margin-bottom: 10px;
    max-width: 200px;
}
.questions__item-text{
    color: #586069;
    margin-bottom: 16px;
}
.questions__item-link{
    margin-left: 20px;
    background-color: #fff;
}
.questions .container{
    padding-bottom: 0;
    margin-bottom: 0;
}
//end questions

//start seo-text
.seo-text{
    padding-top: 80px;
    padding-bottom: 80px;
    
    p+p{
        margin-top: 28px;
    }
    p{
        font-size: 16px;
        line-height: 130%;
        max-width: 1110px;
        color: #586069;
    }
}
.seo-text__title{
    margin-bottom: 38px;
}
//end seo-text

//start footer
.footer{
    background: #FAFBFC;
}
.footer__inner{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 985px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    color: #586069;
    font-size: 14px;
    ul{
        color: #131755;
        li{
        }
        li+li{
            margin-top: 15px;
        }
    }
}
.footer__item-2{
    .footer__item-text{
        max-width: 90px;
    }
}
.footer__item-1{
    max-width: 226px;
}
.footer__item-title{
    margin-bottom: 14px;
}
.footer__item-text li{
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: .2s;
    &:hover{
        color:#7CB9FC;
        border-bottom: 1px solid #7CB9FC;
    }
}
.footer__item-text{
    max-width: 117px;
}
.footer__bottom{
    border-top: 1px solid #F0F4F5;
    padding: 20px 0px 24px;
    a{
        display: inline-block;
        text-decoration: underline;
        color: #586069;
        font-size: 14px;
    }
    a+a{
        margin-left: 45px;
        margin-top: 15px;
    }
}



//start categories
.tabs{
    margin-top: -10px;
    padding-bottom: 40px;
        .tab{
            margin-top: 10px;
            display: inline-block;
            cursor: pointer;
            padding: 8px 25px;
            background: #F6F6F7;
            border-radius: 50px;
        }
        .tab.active{
            background: #7CB9FC;
            color: #fff;
        }
    }

.categories{

    .latest-reviews__acide{
        .latest-reviews__acide-block {
        margin-bottom: 0;
    }
    }
    
    .top{
        padding-top: 0;
        img{
            width: 480px;
            height: 390px;
            margin-right: -72px;
            .container{
                align-items: center;
            }
        }
    }
    .calculator {
        max-width: 736px;
    }
    .calculator__item{
        min-width: 352px;
        display: inline-block;
        &:nth-child(3){
            margin-left: 28px;
            margin-top: 0;
        }
        &:nth-child(4){
            display: flex;
            flex-wrap: wrap;
        }
    }
    .calculator__item-checkbox{
        max-width: 357px;
    }
    .calculator__item-summ{
        width: 39%;
        margin-left: 28px;
        padding: 11px 35px 18px 25px;
    }
    .calculator__item-title{
        width: 100%;
    }
    .calculator .title {
        margin-bottom: 0;
    }
}
//start latest-reviews
.latest-reviews{
    .rate-star{
        margin: 0;
        margin-left: 9px;
    }
    padding-top: 80px;
    padding-bottom: 80px;
    .container{
        display: flex;
        &::before,
        &::after{
            display: none;
        }
    }
}
.form-block{

}
.contetnt-item.block-name{
    max-width: 255px;
    display: flex;
    flex-wrap: wrap;
}
.latest-reviews__contetnt-items,
.latest-reviews__acide-block{
    margin-top: 17px;
}
.latest-reviews__contetnt-item{
    background-color: #FAFBFC;
    border-radius: 5px;
    padding: 40px 40px 20px 40px;
    &+.latest-reviews__contetnt-item{
        margin-top: 15px;
    }
    p{
        font-size: 14px;
        line-height: 140%;
        color: #586069;
    }
}
.block-name-date{
    display: block;
    width: 100%;
    color: #B1C5CA;
    margin-top: 10px;
}

.contetnt-item__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #F0F4F5;
    padding-bottom: 35px;
}
.block-name-name{
    display: inline-block;
}
.latest-reviews__contetnt,
.loan-card__content{
    max-width: 832px;
}
.acids{
    width: 256px;
    margin-left: 32px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}
.acide{
}
.latest-reviews__acide-block{
    padding: 28px;
    background-color: #FAFBFC;
}
.item__logo{
    margin-bottom: 20px;
}
.acide-block__sab{
    display: flex;
    justify-content: space-between;
    color: #B1C5CA;
    align-items: center;
    &+.acide-block__sab{
        margin-top: 14px;
    }
    span{
        color: #131755;
    }
}
.acide-btn{
    padding: 16px 50px;
    font-size: 14px;

    
}
.acide .link{
    &:hover{
    background-color: #E16B58;
}
}

.latest-reviews__contetnt{
    position: relative;
    overflow: hidden;
    &::after,
    &::before{
        content:'';
        height: 1px;
        width: 2000px;
        background-color: #F0F4F5;
        position: absolute;
        bottom: 15px;
    }
    &::after{
        right: 67%;
    }
    &::before{
        left: 67%;
    }
}
//end latest-reviews

//end categories

//start loan-card
.loan-card{
    background: linear-gradient(270deg, #F0F4F5 0%, #F6F7FA 99.26%), #F0F4F5;
    .popular-loans__item{
        background: linear-gradient(270deg, #F0F4F5 0%, #F6F7FA 99.26%), #F0F4F5;
        margin-left: 0;
        padding-left: 15px;
        flex-wrap: wrap;
    }
    .navigation{
        background: #FAFBFC;
        border-radius: 5px;
        width: 100%;
        padding: 28px;
        box-sizing: border-box;
        margin-bottom: 40px;
        &__title{
            font-size: 18px;
            margin-bottom: 20px;
            color: #000;
        }
        li{
             display:block;
            a{
                color: #7CB9FC;
                border-bottom: 1px solid #7CB9FC;
            }
            &+li{
                margin-top: 15px;
            }
           
        }
    }
    .loan-card__title{
        padding-top: 15px;
    }
    .loan-card__inner{
        padding-top: 60px;
        background-color: #fff;
        .container{
            display: flex;
        }
        
        .title-block__text{
            color: #586069;
            font-size: 16px;
            line-height: 130%;
            padding-bottom: 60px;
            padding-top: 15px;
        }
    }
    .conditions{
        background: #fff;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 35px;
    }
    .calculator{
        background: linear-gradient(270deg, #F0F4F5 0%, #F6F7FA 99.26%);
        border-radius: 5px;
        max-width: 100%;
        padding: 26px 40px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .title{
            margin-bottom: 10px;
        }
        .link{
            padding: 18px 25px;
            margin-top: 40px;
        }
    }
    .calculator__item+.calculator__item {
        margin-top: 0;
    }
    .calculator__item{
        width: 32%;
    }
    .calculator__title{
        width: 100%;
    }
    .calculator__item-title{
        margin-top: 15px;
        span{
            color: #131755;
        }
    }
    
    .rate-star{
        margin: 0;
        margin-left: 15px;
    }
    .contetnt-item.block-name{
        max-width: 300px;
    }
    .item__btn-rate{
        .rate-star{
            margin: 0 auto;
        }
    }
}
.block-questions{
    padding-top: 30px;
    .title{
        margin-bottom: 15px;
    }
}
.item__btn-rate-comments{
    margin-top: 20px;
    font-size: 12px;
    color: #B1C5CA;
    span{
        color: #7CB9FC;
        border-bottom: 1px solid #7CB9FC;
    }
}
.loan-card__contacts{
    margin: 0 auto;
    max-width: 443px;
    margin-top: 20px;
    max-height: 18px;
    padding-left: 0px;
    order: 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a{
        margin-left: 60px;
        position: relative;
        color: #7CB9FC;
        border-bottom: 1px solid #7CB9FC;;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/icons/email-icon.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            left: -20px;
            bottom: 2px;
            width: 15px;
            height: 12px;
        }
    }
    a:first-child{
        color: #131755;
        border-bottom: 0px solid #000;
        margin-left: -20px;
    }
    a:first-child::before{
        background-image: url(../images/icons/phone-icon.svg);
        width: 15px;
        height: 15px;
        bottom: 0;
    }
    a:last-child::before{
        background-image: url(../images/icons/email-ikon.svg);
        width: 18px;
        height: 18px;
        bottom: 0;
    }
}

    
    table{
        border-collapse: collapse;
        text-align: left;
    }
        th{
            border-bottom: 1px solid #2A8BFB;
            color:#2A8BFB;
            padding-bottom: 15px;
            padding-top: 25px;
            padding-left: 5px;
            &:first-child{
                width: 45%;
                padding-left: 0;
            }
        }
        td{
            border-bottom: 1px solid #F0F4F5;
            padding-bottom: 15px;
            padding-top: 25px;
        }

.conditions__block{
    display: flex;
    justify-content: space-between;
    color: #B1C5CA;
}
.conditions__block-item-1{
    width: 45%;
    line-height: 24px;
    box-sizing: border-box;
    color: #B1C5CA;
}
.conditions__block-item-2{
    width: 55%;
    padding-left: 5px;
    box-sizing: border-box;
    color: #586069;
}
.block__img{
    max-width: 382px;
    margin: 0 auto;
    margin-top: 35px; 
    padding: 5px;
    background: #FAFBFC;
    border: 1px solid #EAEEF1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 47px;
}
.block__img-text{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #586069;
    margin-top: 15px;
    padding: 0 5px;
}
.block-text{
    font-size: 16px;
    line-height: 24px;
    color: #586069;
    padding-bottom: 50px;
}
.block-text__item{
    mark{
        background-color:#7CB9FC;
        color:#fff;
        padding: 0px 3px;
    }
    &+.block-text__item{
        margin-top: 27px;
    }
}
.block-text__item:last-child{
    margin-top: 25px;
}
.item-bg{
    background: #FAFBFC;
    border-radius: 5px;
    border-left: 5px solid #2A8BFB;
}
.item-figure,
.item-bg{
    padding: 17px 45px;
}
.item-figure{
    background-image: url(../images/icons/figure.svg);
    background-repeat: no-repeat;
    background-position: top 22px left;
}
.item-attention{
    background-color: #FAFBFC;
    border: 2px solid #2A8BFB;
    border-radius: 5px;
    display: flex;
    padding: 17px 50px 17px 0px;
    .sign{
        margin-left: 30px;
        margin-right: 30px;
    }
}
.item-cheked__box{
    display: flex;
}

.block-text__item-text{
    margin-top: 19px;
}
.item-cheked__box-line{
    width: 15px;
    height: 5px;
    background-color:#2A8BFB;
    margin: auto 36px  auto 0px;
    margin-top: 12px;
}
.item-cheked__box{
    span{
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        padding: 1px 8px;
        background-color: #2A8BFB;
        border-radius: 50%;
        color: #fff;
        margin-right: 25px;
        max-height: 26px;
        max-width: 26px;
    }
    .tere{
        width: 15px;
        padding: 0;
        height: 5px;
        background-color:#2A8BFB;
        margin: auto 36px  auto 0px;
        border-radius: 0;
        display: inline-block;
    }
    &+.item-cheked__box{
        margin-top: 10px;
    }
}
.block-questions__content{
    padding: 28px;
    padding-bottom: 0px;
    background: #FAFBFC;
    border: 1px solid #F0F2F3;
    box-sizing: border-box;
    border-radius: 5px;
}
.block-questions__content-item{
    font-size: 16px;
    line-height: 130%;
    overflow: hidden;
    max-height: 38px;
    transition: .3s;
    border-bottom: 1px solid #F0F4F5;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    &:last-child{
        border-bottom: 0px solid #000;
        margin-bottom: 0;
    }
}
.block-questions__content-item-title{
    padding-right: 15px;
    padding-bottom: 15px;
    position: relative;
    svg{
        position: absolute;
        right: 0;
        top: 18%;
    }
}
.block-questions__content-item-text{
    color: #586069;
}
.block-questions__content-item.active{
    max-height: 115px;
    .block-questions__content-item-title{
        color: #2A8BFB;
    }
    svg{
        transform: rotate(-180deg);
        path{
            stroke:#B1C5CA;
        }
    }
}
.block-btn{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 32px 35px 32px 40px;
    background: linear-gradient(270deg, #F0F4F5 0%, #F6F7FA 99.26%);
    border-radius: 5px; 
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .link{
        font-size: 14px;
        padding: 16px 50px;
        margin-top: 0;
    }
}
.block-btn__text{
    color:#000;
    max-width: 480px;
}
.block-reviews{
    overflow:hidden;
    position: relative;
    margin-bottom: 40px;
    &::after {
        right: 67%;
    }
    &::before {
        left: 67%;
    }
    &::after, 
    &::before {
        content: '';
        height: 1px;
        width: 2000px;
        background-color: #F0F4F5;
        position: absolute;
        bottom: 15px;
    }
}
.form-reviews{
    padding-top: 0;
    background: #fff;
    box-sizing: border-box;
    padding-bottom: 80px;
    .title{
        margin-bottom: 15px;
    }
    form{
        padding: 50px 40px;
        background: #FAFBFC;
        border-radius: 5px;
        max-width: 100%;
        box-sizing: border-box;
        textarea{
            padding: 24px;
            padding-right: 40px;
            height: 140px;
            margin: 15px 0;
            background-image: url(../images/icons/textarea-icon.svg);
            background-repeat: no-repeat;
            background-position: top 26px right 15px;
        }
        input+input{
            margin-top: 15px;
        }
    }
    
    
    .form-reviews-text{
        display: flex;
        flex-wrap: wrap;
        padding: 25px 0px 25px 25px;
    }
}
.form-btn{
    margin-bottom: 40px;
    &:hover{
        background-color: #E16B58;
    }
}
.input-file{
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.label-file{
    cursor: pointer;
    width: 100%;
    border: 2px dashed #B1C5CA;
    box-sizing: border-box;
    border-radius: 5px;
    height: 133px;
    text-align: center;
    padding: 30px 0px;
    color:#000;
    font-size: 14px;
    background-image: url(../images/icons/upload-file.svg);
    background-repeat: no-repeat;
    background-position: center 63px;
    margin-top: 25px;
}
.block-link-text{
    font-size: 13px;
    line-height: 130%;
    max-width: 455px;
    a {
        color: #7CB9FC;
        display: inline;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid #7CB9FC;
        }
    }
}
.block-link{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .link{
        padding: 16px 47px;
        margin-top: 0;
        &:hover{
            background-color: #E16B58;
        }
    }
}
.acide-2{
    max-height: 800px;
    height: 100%;
    box-sizing: border-box;
}
.loan-card__acide-block{
    background: #FAFBFC;
    border-radius: 5px;
    max-width: 256px;
    padding: 15px;
    padding-bottom: 6px;
    .link{
        padding: 16px 10px;
    }
}

//end loan-card

.page-reviews{
    background: linear-gradient(270deg, #F0F4F5 0%, #F6F7FA 99.26%), #F0F4F5;
    .loan-card__contacts{
        margin-top: 0;
    }
    .rate-star{
        margin-top: 0;
        margin-left: 15px;
    }
    .loan-card__title{
        padding-top: 15px;
    }
    .description__block{
        padding-top: 10px;
        font-size: 16px;
        line-height: 25px;
        border-bottom: 1px solid #E6EDEF;
        padding-bottom: 15px;
    }
    .item__btn-rate-link.link{
        margin-top: 0;
    }
    .popular-loans__item{
        background: linear-gradient(270deg, #F0F4F5 0%, #F6F7FA 99.26%), #F0F4F5;
    }
}
.reviews-sits{
    background-color: #fff;
    padding-top: 60px;
    .container{
        display: flex;
    }
    .title{
        margin-bottom: 15px;
    }
}
.left-site{
    max-width: 832px;
}
.left-site__top{
    display: flex;
    align-items: center;
    .link{
        padding: 8px 18px;
        margin-top: 0;
        margin-left: 30px;
    }
    .sorting{
        margin-left: auto;
    }
}
.assessment{
    display: flex;
    margin-top: 28px;
    align-items: flex-end;
    &-text{
        margin-right: 20px;
    }
    svg{
        cursor: pointer;
        margin-right: 5px;
    }
    .dislike {
        margin-left: 7px;
        svg{
            margin-bottom: -5px;
            &:hover path{
            fill:#000;
            }
        }
        span{
        color:#E16B58;
        }
    }
    .like{
        span{
            color: #83DD4C;
            margin-right: 7px;
        }
       svg{
            &:hover path{
                fill: #000;
            }
        }
        
    }
}

.reviews-mfo{
    .left-site__top{
        input{
            margin-right: 10px;
        }
        .drop-down{
            margin-left: 10px;
        }
    }
    .loan-card__acide-block{
        position: unset;
    }
    .latest-reviews__acide-block{
        margin-bottom: 15px;
    }
    .breadcrumbs{
        background: #fff;
    }
    .reviews-sits{
        padding-top: 10px;
    }
    .left-site__top{
        justify-content: space-between;
        .selectize-input{
            width: 256px;
        }
        .drop-down{
            position: relative;
            width: 256px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #F0F2F3;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 11px 18px;
            &::before{
                right: 18px;
                top:18px;
                background-image: url(../images/icons/arrow-select.svg);
            }
        }
        .drop__down-list{
            width: 148px;
            padding: 11px 0;
            .rate-star{
                margin-left: 0;
                margin-right: 0;
                
            }
            .drop__down-list-item{
                padding: 8px 20px;
                &:hover{
                    background-color: #FAFBFC;
                }
            }
        }
        .drop__down-list-wrapper{
            left: 0;
            top: 37px;
        }
        .search{
            width: 256px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #F0F2F3;
            box-sizing: border-box;
            border-radius: 5px;
            background-image: url(../images/icons/search.svg);
            background-repeat: no-repeat;
            background-position: center right 15px;
            padding-left: 15px;
            padding-right: 40px;
            &::placeholder{
                color: #131755;
            }
        }
    }
}
.contetnt-item .block-images{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    img{
        border-radius: 2px;
        background: linear-gradient(0deg, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)), 
        url(plyusy-i-minusy-debetovoj-karty-banka-tinkoff-2.jpg);
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

//start popup
.popup-wrapper{
    background: rgba(0,0,0, .6);
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    display: none;
}
.popup-wrapper.active{
    display: flex;
}
.popup{
    max-width: 736px;
    padding: 60px 96px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #FAFBFC 0%, #F6F7FA 100%);
    border-radius: 5px;
    &__title{
        font-size: 24px;
        line-height: 130%;
        max-width: 258px;
        margin-bottom: 20px;
    }
    .pupup__subtitle{
        font-size: 16px;
        line-height: 24px;
        color: #586069;
        max-width: 544px;
    }
}
.input-btn{
    padding-top: 35px;
    padding-bottom: 45px;
    border-bottom: 1px solid #F0F4F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    input{
        background-color: #FFFFFF;
        background-image: url(../images/icons/email-icon.svg);
        background-repeat: no-repeat;
        background-position: center right 15px;
        border-radius: 5px;
        height: 55px;
        box-sizing: border-box;
        border: none;
        max-width: 370px;
        width: 100%;
        padding-left: 25px;
        padding-right: 40px;
        font-size: 18px;
        color: #131755;
    }
}
.popup__bottom{
    color: #586069;
    font-size: 13px;
    line-height: 18px;
    padding-top: 15px;
}
.popup-btn{
    padding: 18px 25px;
    border-radius: 49px;
    margin-top: 0;
    &:hover{
        background-color: #E16B58;
    }
}
//end popup
@import '_media';
